@mixin size($w, $h) {
  width: $w;
  height: $h;
}
// LOGO圖片取代文字
@mixin background-type {
  text-indent: -99999px;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
}
// 置中
@mixin center {
  margin: 0 auto;
}
// 斷點
@mixin large-max {
  @media only screen and (max-width: 1460px) {
    @content;
  }
}
@mixin large-medium {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}
@mixin large {
  @media only screen and (max-width: 992px) {
    @content;
  }
}
@mixin medium {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin small {
  @media only screen and (max-width: 576px) {
    @content;
  }
}
