
<div class="content poster d-flex flex-column align-items-center" v-if="viewPage === 'fina-page'">
    <div class="mt-4"><img src="../assets/images/home-title.png" alt=""></div>
    <div class="results-text mt-3 pt-2 pb-3 px-3 text-light mb-3 d-flex flex-column align-items-center">
        <p class="fs-5 py-3">抽獎流水號</p>
        <div class="py-3 px-3 text-center lottery text-dark d-flex justify-content-center">
            <div class="paste-text d-inline-block ms-auto"  id="sourceDiv">AR-1234</div> 
            <div class="btn-paste d-inline-block ms-auto" onclick="copyDivText()" ><img  class="paste" src="../assets/images/paste.svg"></div>
        </div>
    </div>
    <div class="text-start text-shadow text-light" style="width: 95%; font-size: 14px;">
        填寫注意事項 <br>
        1.請抽獎人確實填寫手機末三碼，範例如下： <br>
        Ex.0987-654-321，請填寫321在上方輸入匡內。 <br>
        2. 根據活動請正確填寫手機號碼，如填寫錯誤無法正確核實身份，抽獎資格則視為作廢。 <br>
        3.確認填寫正確後，點選下方按鈕，系統即會產出專屬抽獎流水號。
    </div>
    <div class="mb-auto d-flex justify-content-center">
        <button onclick="window.location.href='https://www.facebook.com/pages/%E5%BD%B0%E5%8C%96%E7%A8%85%E5%B1%80/253416044757459'" class="btn btn-primary px-7 py-3 mb-4" type="button">前往FB抽獎</button>
    </div>
</div>

<script>
    function copyDivText() {
        // 取得來源 DIV 的元素
        var sourceDiv = document.getElementById("sourceDiv");
        
        // 創建一個臨時的 textarea 元素來選取文本
        var textarea = document.createElement("textarea");
        textarea.value = sourceDiv.innerText; // 或使用 sourceDiv.textContent
        
        // 將 textarea 元素添加到 DOM
        document.body.appendChild(textarea);
        
        // 選取 textarea 中的文本
        textarea.select();
        textarea.setSelectionRange(0, 99999); // 對於行動裝置
        
        // 將選取的文本複製到剪貼板
        navigator.clipboard.writeText(textarea.value).then(function() {
            alert("已複製成功");
        }, function(err) {
            console.error('複製失敗: ', err);
        });
        
        // 從 DOM 中移除 textarea 元素
        document.body.removeChild(textarea);
}
</script>    

