<div v-if="viewPage == 'home'" class="content home d-flex justify-content-end flex-column md-0 mb-md-5" >
    <div class="d-flex justify-content-center">
        <button @click="changeViewPage('instructions01',true)" class="btn btn-primary px-9 py-3 mb-5" type="button">
            開始體驗
        </button>
    </div>
</div>