<div v-if="viewPage == 'instructions01'" class="content instructions01 d-flex justify-content-end flex-column md-0 mb-md-5" >
    <div class="d-flex justify-content-center">
        <button @click="changeViewPage('home')" class="btn btn-sm btn-secondary py-3 mb-5 me-3 d-flex justify-content-center align-items-center" type="button">
            上一步
        </button>
        <button @click="changeViewPage('instructions02')" class="btn btn-sm btn-primary py-3 mb-5 d-flex justify-content-center align-items-center" type="button">
            下一步
        </button>
    </div>
</div>