<div class="content poster d-flex justify-content-center flex-column " v-if="viewPage === 'poster'">
   <div> <h1 class="poster-h1 pt-6 h1 pt-lg-4 h2 w-100 text-center text-light ">- 稅務知識圖卡 -</h1></div>
    <div class="slides-container mb-3">
        <div id="slides" class="mb-3">
            <div v-for="(imageSrc, index) in slidesData" :key="index" class="slide" :class="{ active: index === currentIndex }">
                <img :src="imageSrc" />
            </div>
        </div>
        <div class="buttons  d-flex justify-content-center">
            <button id="prevBtn" class="swiper-button" @click="prevSlide">&lt;</button>
            <span id="slideButtons">
                <button v-for="(imageSrc, index) in slidesData" :key="index" class="swiper-button" :class="{ 'active-button': index === currentIndex }" @click="showSlide(index)">
                    {{ index + 1 }}
                </button>
            </span>
            <button id="nextBtn" class="swiper-button" @click="nextSlide">&gt;</button>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-auto mb-4 ">
        <button @click="changeViewPage('arpage')" class="btn btn-sm btn-secondary py-3  me-3 d-flex justify-content-center align-items-center" type="button">返回</button>
        <button @click="changeViewPage('arpage02')" class="btn btn-sm btn-primary py-3  d-flex justify-content-center align-items-center" type="button">開始答題</button>
    </div>
</div>
