<div class="content poster d-flex flex-column align-items-center" v-if="viewPage === 'results'">
    <div class="mt-4"><img src="../assets/images/home-title.png" alt=""></div>
    <div class="results-text mt-3 pt-2 pb-3 px-3 text-light mb-3 d-flex flex-column align-items-center">
        <p class="fs-5">恭喜您完成答題</p>
        <p>請填寫抽獎人聯絡手機末三碼</p>
        <input id="phoneLastThree" class="py-3 px-5 text-center" type="tel" maxlength="3" pattern="\d{3}" title="請收入手機末三碼" oninput="this.value = this.value.replace(/\D/g, '').slice(0, 3)">

    </div>
    <div class="text-start text-shadow text-light" style="width: 95%; font-size: 14px;">
        填寫注意事項 <br>
        1.請抽獎人確實填寫手機末三碼，範例如下： <br>
        Ex.0987-654-321，請填寫321在上方輸入匡內。 <br>
        2. 根據活動請正確填寫手機號碼，如填寫錯誤無法正確核實身份，抽獎資格則視為作廢。 <br>
        3.確認填寫正確後，點選下方按鈕，系統即會產出專屬抽獎流水號。
    </div>
    <div class="mb-auto d-flex justify-content-center">
        <button @click="changeViewPage('fina-page')" class="btn btn-primary px-7 py-3 mb-4" type="button">產出抽獎流水號</button>
    </div>
</div>





