@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

// 自定義變數
$primary: #004085 !default; // 高對比度顏色
$secondary: #333333 !default; // 另一個高對比度顏色
$link-color: $primary !default; // 確保連結顏色有足夠對比度

// 覆蓋 Bootstrap 的變數
$btn-primary-bg: $primary !default;
$btn-primary-border: $primary !default;
$link-hover-color: darken($primary, 15%) !default;
$color-contrast-dark: #000 !default;
$color-contrast-light: #fff !default;
$color-contrast-ratio: 4.5 !default;



@import '../../node_modules/bootstrap/scss/functions';
@import 'helpers/variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

//helpers
@import 'helpers/mixin';
@import 'base/_base';
@import 'base/_fonts';

//utilities
@import 'utilities/utilities';
@import 'utilities/background';


@import 'components/button';
@import 'components/swiper';
@import 'components/ar';
@import 'components/qa';
@import 'components/results';
@import 'components/iframe';



.wrap-content{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
// 其他樣式
.content {
    width: 375px;
    height: 680px;
    background-size: cover ;
    background-position: 50% 50%; 
    position: relative ;
    overflow-x: hidden;
    padding-bottom: 20px;
    @include small {
        width: 100%;
        min-height: 100svh;
        z-index: 10000;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
   
}

.cursor-pointer {
    cursor: pointer;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon {
    display: inline-block;
}


.poster-page {
    @include small {
       width: 100vw;
       height: 100vh;
    }
}