
.ar-img-bg{
    position: absolute;
    @include size(100%, 100%);
}
video {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    top: 0 !important;
    bottom: 0 !important;
    object-fit: cover !important;
    // transform: none !important;
}



.arbox, a-scene {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.ar-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    top:6%;
    z-index: 9999999 !important;
}
.ar-img img{
    width: 100%;
}