




.btn{
  border-radius: 30px !important;
  border: 1px solid #FFFFFF !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  color:#FFFFFF !important;
  font-size: 1.5rem !important;
  display: block;
  white-space:nowrap;


}

.btn-sm{
  height: 60px !important;

  display: block;
  width: 45%;

}
.btn-left{
  left: 3% !important ;
}
.btn-right{
  left: 52% !important ;

}
.btn-primary {
  background: linear-gradient(180deg, #FAE6C4 0%, #F6CF8E 100%); 
}

.btn-secondary {
  background: linear-gradient(180deg, #A8D8DE 0%, #8FB5BA 50%);
}


