.results-text{
    background: linear-gradient(180deg, #FAE6C4 0%, #F6CF8E 50%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 90%;
    .lottery{
        background: #FFFFFF;
        border: none;
        border-radius: 15px;
        width: 95%;
    }

    p{
        text-shadow: 0px 2px 2px #92B8BD;
        letter-spacing: 0.16em;
        color: #FFFFFF;
       
    }
    input{
        background: #FFFFFF;
        border: none;
        border-radius: 15px;
    }
}







