<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <script src="https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <div class="wrap-content" id="app">
      <div class="d-none d-lg-block"><img src="../assets/images/home-title.png" alt=""></div>
        <%- include('./layout/home'); -%>
        <%- include('./layout/instructions01'); -%>
        <%- include('./layout/instructions02'); -%>
        <%- include('./layout/arpage'); -%>
        <%- include('./layout/poster'); -%>
        <%- include('./layout/arpage02'); -%>
        <%- include('./layout/video-view'); -%>
        <div class="d-none d-lg-block"><img src="../assets/images/home-title.png" alt=""></div>
    </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>

