<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <div class="wrap-content" id="app">
      <div class="d-none d-lg-block"><img src="../assets/images/home-title.png" alt=""></div>
        <%- include('./layout/home'); -%>
        <%- include('./layout/instructions01'); -%>
        <%- include('./layout/instructions02'); -%>
        <%- include('./layout/arpage'); -%>
        <%- include('./layout/poster'); -%>
        <%- include('./layout/arpage02'); -%>
        <%- include('./layout/video-view'); -%>
        <div class="d-none d-lg-block"><img src="../assets/images/home-title.png" alt=""></div>
    </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>

