.home {
    background: url('../images/home-bg.png');
}

.instructions01 {
    background: url('../images/instructions01.png');
}

.instructions02 {
    background: url('../images/instructions02.png');
}

.points01 {
    background: url('../images/points01.png');
}

.poster {
    background: url('../images/poster.png');
   
}
